<!DOCTYPE html>
<html lang="es">
  <head>
    
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{codigo.cliente}}</title>
    <!--boostrap-->
    <link rel="stylesheet" href="{% static 'perfilMascotas/css/bootstrap.min.css' %} ">
    <!--modificacionesTemplate-->
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
    
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.css">


    <link rel="stylesheet" href="{% static 'perfilMascotas/css/print.css' %}" media="print">
    <link rel="stylesheet" href="{% static 'perfilMascotas/css/print.css' %}">


    

</head>




  <body>





      {% for codigo in codigos %}

       
          <div id="diseño-codigo" class="diseño-codigo">
            <h1 class="text-center header-codigo-desing">3 sencillos Pasos</h1>
            <div class="container">
              <div class="row lineas-info">
                <span> <h4> <strong>1</strong> Escanea el código Qr con tu dispositivo móvil</h4></span> 
              </div>
              <div class="row lineas-info">
                <span> <h4> <strong>2</strong> Ingresa y guarda los datos de tu mascota.</h4></span> 
              </div>
              <div class="row lineas-info">
                <span> <h4> <strong>3</strong> Escanea el código para ver la información guardada.</h4></span> 
              </div>
            </div>
            <div class="doble-aviso">
              <h1 class="text-center" >DOBLE AQUÍ</h1>
            </div>
            <div class="imagenes-Marcas">
              <img class="imagen-centrada" src="data:image/png;base64,{{ codigo.img_bytes_base64.decode }}" alt="">
              <img class="imagen-centrada" src="{{codigo.cliente.logo.url}} " alt="">
            </div>
            <div class=" pie">
              <h1 class="text-center" >¡ESCANEA SI</h1>
              <h2 class="text-center" >ME VEZ PERDIDO!</h2>
            </div>
          </div>
        </div>
      {% endfor %}
    
    

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
